@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/css/input.css -o ./src/css/output.css --watch */
@layer base {
    @font-face {
        font-family: '300';
        src: url(../asset/font/Inter-Light.ttf);
    }

    @font-face {
        font-family: '400';
        src: url(../asset/font/Inter-Regular.ttf);
    }

    @font-face {
        font-family: '500';
        src: url(../asset/font/Inter-Medium.ttf);
    }

    @font-face {
        font-family: '600';
        src: url(../asset/font/Inter-SemiBold.ttf);
    }

    @font-face {
        font-family: '700';
        src: url(../asset/font/Inter-Bold.ttf);
    }

    @font-face {
        font-family: '800';
        src: url(../asset/font/Inter-ExtraBold.ttf);
    }
}

@layer components {}

@layer utilities {
    .bt {
        @apply border border-[white]
    }

    .bg1 {
        background-color: hsla(36, 92%, 67%, 1);
        background-image:
            radial-gradient(at 80% 100%, hsla(47, 100%, 42%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 0%, hsla(38, 100%, 50%, 1) 0px, transparent 50%);
    }
}

@theme {}